@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1 recipes-headers">Cooking Trickery</h1>
    <h3 class="display-5 recipes-headers">A Cook's Trickery</h3>
    <div class="recent-recipes">
        <div class="wrap">
            <h4>
                <span>Recent Recipes</span>
            </h4>
            <div class="recent">
                <div class="recent-recipe">
                    <img src="https://s23209.pcdn.co/wp-content/uploads/2022/04/211129_DAMN-DELICIOUS_Creamy-Chx-Noodle-Soup_089-760x1140.jpg">
                    <p class="recipe-title">Papardele</p>
                </div>
                <div class="recent-recipe">
                    <img src="https://s23209.pcdn.co/wp-content/uploads/2022/04/211129_DAMN-DELICIOUS_Creamy-Chx-Noodle-Soup_089-760x1140.jpg">
                    <p class="recipe-title">Papardele</p>
                </div>
                <div class="recent-recipe">
                    <img src="https://s23209.pcdn.co/wp-content/uploads/2022/04/211129_DAMN-DELICIOUS_Creamy-Chx-Noodle-Soup_089-760x1140.jpg">
                    <p class="recipe-title">Papardele</p>
                </div>
            </div>
        </div>
    </div>
</div>
