@{
    ViewBag.Title = "All Ingredients";
}

<h3> Choose ingredient type</h3></>
<div>
    <div>
        <p>Meat</p>
    </div>
    <div>
        <p>Vegitable</p>
    </div>
    <div>
        <p>Sauce</p>
    </div>
</div>