@{
    ViewData["Title"] = "Recipes";
}

<h2 class="recipes-headers">All Recipes</h2>
<div class="recipe-container">
    <div class="wrap">
        <h4>
            <span>Recent Recipes</span>
        </h4>
        <div class="recent">
            <div class="recent-recipe">
                <img src="https://s23209.pcdn.co/wp-content/uploads/2022/04/211129_DAMN-DELICIOUS_Creamy-Chx-Noodle-Soup_089-760x1140.jpg">
                <p class="recipe-title">Papardele</p>
            </div>
            <div class="recent-recipe">
                <img src="https://s23209.pcdn.co/wp-content/uploads/2022/04/211129_DAMN-DELICIOUS_Creamy-Chx-Noodle-Soup_089-760x1140.jpg">
                <p class="recipe-title">Papardele</p>
            </div>
            <div class="recent-recipe">
                <img src="https://s23209.pcdn.co/wp-content/uploads/2022/04/211129_DAMN-DELICIOUS_Creamy-Chx-Noodle-Soup_089-760x1140.jpg">
                <p class="recipe-title">Papardele</p>
            </div>
            <div class="recent-recipe">
                <img src="https://s23209.pcdn.co/wp-content/uploads/2022/04/211129_DAMN-DELICIOUS_Creamy-Chx-Noodle-Soup_089-760x1140.jpg">
                <p class="recipe-title">Papardele</p>
            </div>
            <div class="recent-recipe">
                <img src="https://s23209.pcdn.co/wp-content/uploads/2022/04/211129_DAMN-DELICIOUS_Creamy-Chx-Noodle-Soup_089-760x1140.jpg">
                <p class="recipe-title">Papardele</p>
            </div>
            <div class="recent-recipe">
                <img src="https://s23209.pcdn.co/wp-content/uploads/2022/04/211129_DAMN-DELICIOUS_Creamy-Chx-Noodle-Soup_089-760x1140.jpg">
                <p class="recipe-title">Papardele</p>
            </div>
            <div class="recent-recipe">
                <img src="https://s23209.pcdn.co/wp-content/uploads/2022/04/211129_DAMN-DELICIOUS_Creamy-Chx-Noodle-Soup_089-760x1140.jpg">
                <p class="recipe-title">Papardele</p>
            </div>
            <div class="recent-recipe">
                <img src="https://s23209.pcdn.co/wp-content/uploads/2022/04/211129_DAMN-DELICIOUS_Creamy-Chx-Noodle-Soup_089-760x1140.jpg">
                <p class="recipe-title">Papardele</p>
            </div>
        </div>
    </div>
    <div class="cuisine-recipes">
        <h4>
            <span>Recipes by Cuisine</span>
        </h4>
        <div class="cuisine-recipe">
            <img src="https://static.wixstatic.com/media/f588cd_caa56fa0afb24c7d82c42c42c6811ee9~mv2.png/v1/fill/w_400,h_589,al_c,q_85,enc_auto/f588cd_caa56fa0afb24c7d82c42c42c6811ee9~mv2.png" />
            <p>Chinese</p>
        </div>
        <div class="cuisine-recipe">
            <img src="https://static.wixstatic.com/media/f588cd_caa56fa0afb24c7d82c42c42c6811ee9~mv2.png/v1/fill/w_400,h_589,al_c,q_85,enc_auto/f588cd_caa56fa0afb24c7d82c42c42c6811ee9~mv2.png" />
            <p>Chinese</p>
        </div>
        <div class="cuisine-recipe">
            <img src="https://static.wixstatic.com/media/f588cd_caa56fa0afb24c7d82c42c42c6811ee9~mv2.png/v1/fill/w_400,h_589,al_c,q_85,enc_auto/f588cd_caa56fa0afb24c7d82c42c42c6811ee9~mv2.png" />
            <p>Chinese</p>
        </div>
    </div>
</div>
