@{
    ViewData["Title"] = "Recipe";
}

<h1 class="display-1 recipes-headers">Papardele</h1>

<div class="recipe-container">
    <div class="recipe-quickdescr">A delicious pasta</div>
    <div class="recipe-body">
        <img src="https://s23209.pcdn.co/wp-content/uploads/2022/04/211129_DAMN-DELICIOUS_Creamy-Chx-Noodle-Soup_089-760x1140.jpg">
        <div class="ingredient-list">
            <h4>
                <span>Ingredients</span>
            </h4>
            <ul class="ingredients">
                <li class="ingredient"> 300 g papardele</li>
                <li class="ingredient"> 400 ml heavy cream</li>
                <li class="ingredient"> 500 g smoked bacon</li>
                <li class="ingredient"> 1 onion</li>
                <li class="ingredient"> 3 cloves garlic</li>
                <li class="ingredient"> 1 tbs olive oil </li>
                <li class="ingredient"> 1 pinch salt </li>
            </ul>
        </div>
        <div class="time-portions">
            <p>Portions: 2</p> <p>Time : 30min</p>
        </div>
        <div class="recipe-descr">
            Heat olive oil in a large stockpot or Dutch oven over medium heat. Season chicken with 1 teaspoon salt and 1/2 teaspoon pepper. Working in batches, add chicken to the stockpot and cook, stirring occasionally, until evenly browned, about 6-8 minutes; set aside
            Add onion. Cook, stirring occasionally, until tender, about 3-4 minutes. Stir in garlic until fragrant, about 1 minute. On a seperate hot pan fried the bacon untin golden and crispy.
            Add the bacon to the onions, then the heavy cream, simmer for 5-10 min, add the chicken.Serve with sprink of parsly
        </div>

        <div class="rating">5</div>
    </div>
</div>
